{
  "root": true,
  "extends": ["@asd14/eslint-config/targets/node-esm"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "quote-props": "off",
    "dot-notation": "off",
    "jsdoc/no-undefined-types": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": ["@asd14/eslint-config/targets/node-ts"]
    }
  ],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    },
    "import/cache": {
      "lifetime": 5
    }
  }
}
