{
  "minify": false,
  "sourceMaps": true,
  "env": {
    "mode": "entry",
    "coreJs": 3
  },
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    }
  }
}
